<% layout('layout/boiletplate')%>

<div class="row">


    <div class="col-8 offset-2 new-text">
    
    <br><br>
        <h3>Edit yout Listing</h3>
        <br>
        <form method="post" action="/listings/<%=listing._id%>?_method=put">
        <div class="mb-3">
            <label for="Title" class="form-lable">Title</label>
            <input name="listing[title]" value="<%=listing.title  %>" type="text" class="form-control">
        </div>
    
        <div class="mb-3">
    
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" class="form-control"><%=listing.description %></textarea>
    
        </div>
           
        <div class="mb-3">
    
            <label for="Image" class="form-lable">Image</label>
            <input name="listing[image.url]" value="<%=listing.image.url  %>"type="text" class="form-control">
    
        </div>
       
           
        <div class="mb-3">
    
            <label for="location" class="form-lable">location</label>
            <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control">
    
        </div>
       
    
        <div class="row">
    
            <div class="mb-3 col-md-4">
    
                <label for="price" class="form-lable">Price</label>
                <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" >
            </div>
    
            <div class="mb-3 col-md-8">
    
                <label for="country" class="form-lable">country</label>
                <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control">
        
            </div>
            
        
        </div>
            <br><br>
            <button class="btn btn-dark">Edit</button>
        </form>
        <br><br>
    </div>
    </div>